:root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    --main-text-color: black;
    --main-link-color: black;
    --main-bg-color: whitesmoke;
    --sec--text-color:   #00695c;
    --sec-link-color:   #00695c;
    --sec-bg-color: lightgrey;

    --margin-section-main: 2rem;

    --thin-font: 100;
    --med-font: 500;
    --thick-font: 700;
}

body{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0;
}

header{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

header{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

a{
    text-decoration: none;
    color: var(--main-link-color);
}

header a{
    text-decoration: none;
    border-bottom: 0.125rem solid var(--main-link-color);
    margin-inline: 1.5rem;
    color: var(--main-link-color);
}


.selected{
    text-decoration: none;
    border-bottom: 0.125rem solid var(--sec-link-color);
    margin-inline: 1.5rem;
    color: var(--sec-link-color);
}


header a:hover{
    border-bottom: none;
}

p{
    margin: 0.5rem;
    max-width: 50%;
}

nav a{
    font-weight: var(--thick-font);
    font-size: 1.75rem;
}

svg{
    max-width: 50px;
}

.about_projects_container{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-section-main);
    align-items: center;
    background-color: lightgrey;
}

.project_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--margin-section-main);
    width: 100vw;
}

.working{
    display: flex;
    max-width: 100%;
    align-items: center;
}

.working a{
    margin: auto;
}

.working p{
    max-width: 100%;
    text-align: center;
}

.working svg{
    max-width: 300px;
    max-height: 300px;
}
.working img{
    max-width: 300px;
    max-height: 300px;
}

.element{
    width: 300px;
    height: 300px;
}

.socials_header{
    font-weight: var(--thick-font);
    font-size: 1.75rem;
}

.socials_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials_array{

}
.social{
    margin-inline: 1rem;
}