body{
    background-color: bisque;
    color: black;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color: black;
    padding: 0.125rem 1rem 0.125rem 1rem;
    border: darkgoldenrod solid 0.125rem;
}
h1{
    color:black;
}
header{
    text-align: center;
    margin-bottom: 2rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: brown solid 0.125rem;
}
.topbar{
    grid-column: 1/5;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.125rem;
    border: black solid 0.125rem;
}
.topbar a{
    height: 1.125rem;
    margin: 1rem;
}
.blogcontent{
    grid-column: 1/5;
    grid-row: 2;
    border: darkgreen solid 0.125rem;
    margin: 0.125rem;
}
.blogcontent a{
    text-decoration: underline;
    color: blue;
    border: none;
    padding: none;
    margin: none;
}
.datelist{
    grid-column: 5;
    grid-row: 1/3;
    justify-self: center;
    width: 92%;
    border: darkslategray solid 0.125rem;
    margin: 0.125rem;
    padding: 0.25rem;
}
.datelist p{
    text-align: center;
}
.datelist a{
    margin: 0.125rem;
    padding: 0.125rem;
    border: darkmagenta solid 0.125rem;
}