body{
    background-image: url("../images/snow.jpg");
}
p{
    text-align: justify;
}
.container{
    margin-top: 3.5%;
    margin-left: 7%;
    background-color: steelblue;
    color: snow;
    height: 700px;
    width: 35%;
    padding: 10px;
}
.Title{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
a {
    text-decoration: none;
    color: #9baa3d;
}
li a {
    text-align: center;
    color: #a28d6c;
    text-decoration: none;
}
li:hover{
    background-color: #b98030;
}
.Menu {
    /* FOR THE ITEMS */
    display: grid;
    align-items: stretch;
    /* FOR THE BOX */
    margin: auto;
    width: 40%;
    height: 100px;
    background-color: #483b2b;
}

.Title {
    text-align: center;
    color: #9baa3d;
    font-size: xx-large;
}
.MenuItem{
    /* FOR BOX */
    text-align: center;
    margin: 5px;
    height: 30%;
    padding: 5px;
    background-color: #e9c340;
}
